@page
@model SimpleUsage.Pages.DataDemoModel
@{
    ViewData["Title"] = "DataDemo";
}

<h1>Data Demo</h1>

<form>
    <p>
        Search: <input type="text" asp-for="SearchTerm" />
        <input type="submit" value="Search" />
    </p>
</form>

<p>
    <ul>
        @foreach (var person in Model.People)
        {
            <li>@person.FirstName @person.LastName</li>
        }
    </ul>
</p>
 
<p>
    <h2>Add a new person</h2>
    <form method="post">
        <div>First Name: <input asp-for="NewPerson.FirstName" /></div>
        <div>Last Name: <input asp-for="NewPerson.LastName" /></div>
        <input type="submit" value="Create Person" />
    </form>
</p>
