@page "/"
@inject IConfiguration _config

<h1>Hello, world!</h1>

<p>
    MySetting Value: @mySetting
</p>

@code {
    string mySetting = "";

    protected override void OnInitialized()
    {
        mySetting = _config.GetValue<string>("MySetting");
    }
}